footer{
    background-image: url(../../imagenes/fondoverde.jpeg);
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 40px;
}
.redes{
    text-decoration: none;
    color: white;
}