//Sass --watch scss:css

.carousel-inner{
    object-fit: cover;
}


.index-organico{
    background-image: url(../imagenes/fondo.jpeg);
    display: flex;

    article{
        width: 50%;
        height: 300px;
        padding-top: 5%;
        text-align: center;
    }

    img{
        width: 50%;
        height: 300px;
    }
}

.index-organico2{
    background-image: url(../imagenes/fondoverde.jpeg);
    display: flex;
    color: white;

    article{
        width: 50%;
        height: 300px;
        padding-top: 5%;
        text-align: center;
        font-size: 1rem;
    }

    img{
        width: 50%;
        height: 300px;
    }
}


.index-local{
    box-shadow: 0 0 20px rgba(0, 62, 6, 0.42);
    background-color: rgb(29, 53, 29);
    color: white;
    text-align: center;

    h2{
        padding: 20px;
        font-size: 3rem;
    }
}

.galeria{
    padding: 20px;
    background: rgb(61, 93, 61);

    h2{
        font-size: 2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        color: rgb(174, 13, 13);
    }

    &-conteiner{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        height: 20%;
        gap: 20px;


        .galeria-item{
            position: relative;
            overflow: hidden;
            transition: 0.5s;


            &:hover{
                .galeria-text{
                    transform: scale(1)
                }
            }

            img{
                height: 200px;
                width: 100%;
            }


            .galeria-text{
            font-size: 0.8rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.658);
            @include flex(column,flex-start,center,10px);
            color: white;
            transition: 0.5s;
            transform: translate(-100%);
            text-align: center;
            
            h3{
                margin: auto;
            }

            }
        }
    }
}