

.carousel-inner{
    object-fit: cover;
}


.index-organico{
    background: $blanco;
    display: flex;
    font-family: poppins;

    article{
        
        width: 50%;
        height: 300px;
        text-align: center;
        padding: 40px;
        padding-top: 8%;
        font-size: 90%;
    }

    img{
        width: 50%;
        object-fit: cover;
    }
}

.index-organico2{
    background: $verde-oscuro;
    display: flex;
    color: white;
    height: 300px;
    font-family: poppins;

    article{

        width: 50%;
        height: 300px;
        text-align: center;
        padding: 40px;
        padding-top: 8%;
        font-size: 90%;
    }

    img{
        width: 50%;
        object-fit: cover;

    }
}


.galeria{
    padding: 20px;
    background: $verde-oscuro;
    font-family: $main-font;

    h2{
        font-size: 3rem;
        text-align: center;
        color: rgb(255, 255, 255);
    }

    &-conteiner{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        height: 20%;
        gap: 20px;


        .galeria-item{
            position: relative;
            overflow: hidden;
            transition: 0.5s;


            &:hover{
                .galeria-text{
                    transform: scale(1)
                }
            }

            img{
                height: 200px;
                width: 100%;
                object-fit: cover;
            }


            .galeria-text{
            font-size: 0.8rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.658);
            @include flex(column,flex-start,center,10px);
            color: white;
            transition: 0.5s;
            transform: translate(-100%);
            text-align: center;
            
            h3{
                margin: auto;
            }

            }
        }
    }
}