.titulo-noticia{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 30px;
    background-image: url(../../imagenes/notica-banner.png);
    background-size: cover;
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    background-position: center;
    height: 300px;
    

    h1{
        font-size: 5rem;
    }
  }

.desc-noticia{
background-color: #f8fff5;
font-size: 1.2rem;
text-align: center;
box-shadow: 0 0 5px rgba(0, 2, 0, 0.868);
padding: 10px;
}
.cuadro-noticias{
    background-color: rgb(232, 244, 232);
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 2, 0, 0.4);
}

.anoticias{
    text-decoration: none;
    background-image: url(../imagenes/fondoverde.jpeg);
    color: black;
}

.notici article{
    border: 0px solid rgb(3, 59, 3);
    border-radius: 5px;
    
}



.noticias{
    padding:30px;
    margin: 10px;
    height: 400px;
    overflow: hidden;
    
}

.tnoticia{
    padding: 25px;
    width: 100%;
    color: black
}

.fotonoti{
    width: 100%;
    margin: 10px;
    padding: 10px;
    object-fit: cover;
    
}
