
.cuadro-noticias{
    background-color: rgba(226, 247, 223, 0.507);
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 2, 0, 0.4);
}

.anoticias{
    text-decoration: none;
    background-image: url(../imagenes/fondoverde.jpeg);
    color: black;
}

.notici article{
    border: 0px solid rgb(3, 59, 3);
    border-radius: 5px;
    
}



.noticias{
    padding:30px;
    margin: 10px;
    height: 400px;
    overflow: hidden;
    
}

.tnoticia{
    padding: 25px;
    width: 100%;
    color: black
}

.fotonoti{
    width: 100%;
    margin: 10px;
    padding: 10px;
    object-fit: cover;
    
}
