.product-card{
    //background-image: url(../imagenes/fondoverde.jpeg);
    background-color: white;
    color: black;
    gap: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 2, 0, 0.4);


    img{
        height: 300px;
        width: 100%;
        object-fit: cover;


        &:hover{
            scale: 1.2;
            translate: 0.5s;
            object-fit: cover;
            }
    }   
}

.product-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.btn-green{
    border: 1px solid white;
    color: black;
    text-align: center;
    border-radius: 5px;

    &:hover{
        
        color:black;
        }
}

.cta {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
    
  }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 255, 255, 0.744);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
  .cta span {
    position: relative;
    font-size: 11px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .cta:hover:before {
    width: 100%;
    background: rgba(49, 176, 58, 0.744);
  }
  .cta:hover svg {
    transform: translateX(0);
  }
  .cta:active {
    transform: scale(0.96);
  }